<%- layout('layouts/boilerplate') %>
    <p class='score'>Score: <span id='num_score'>0<span><p>
    <div class='screen'>
        <canvas></canvas>
    </div>
    <script src='/scripts/game.js'></script>
