<%- layout('layouts/boilerplate') %>
<ol class='rules'>
    <li>In this version of Pong, the oppenent cpu is unbeattable</li>
    <li>Each time the ball hits your paddle you will recieve points</li>
    <li>The ball will get faster when hit, capping out at a max speed</li>
</ol>
